### Menulis ke Shapefile (.shp)

In [6]:
import geopandas as gpd
from shapely.geometry import Point, Polygon

# Example GeoDataFrame 1: Points (earthquake locations)
data1 = {
    'id': [1, 2, 3],
    'place': ['Tokyo', 'San Francisco', 'Jakarta'],
    'latitude': [35.6762, 37.7749, -6.2088],
    'longitude': [139.6503, -122.4194, 106.8456]
}
geometry1 = [Point(xy) for xy in zip(data1['longitude'], data1['latitude'])]
gdf = gpd.GeoDataFrame(data1, geometry=geometry1)
gdf = gdf.set_crs(epsg=3857)
gdf.to_file("./data example/output_shapefile.shp")

### Membaca Shapefile (.shp)

In [10]:
# Membaca file shapefile
gdf = gpd.read_file("./data example/output_shapefile.shp")

# Menampilkan 5 baris pertama dari GeoDataFrame (jika ingin menampilkan 5 terakhir gdf.tail(n) n untuk membatasi jumlah output)
gdf.head()

   id          place  latitude  longitude                 geometry
0   1          Tokyo   35.6762   139.6503    POINT (139.65 35.676)
1   2  San Francisco   37.7749  -122.4194  POINT (-122.419 37.775)
2   3        Jakarta   -6.2088   106.8456   POINT (106.846 -6.209)

### Menulis ke GeoJSON

In [12]:
# Menulis GeoDataFrame ke file GeoJSON
gdf.to_file("./data example/output_data.geojson", driver="GeoJSON")

### Membaca GeoJSON

In [15]:
# Membaca file GeoJSON
gdf = gpd.read_file("./data example/output_data.geojson")

# Menampilkan informasi dari GeoDataFrame
gdf.tail()

   id          place  latitude  longitude                 geometry
0   1          Tokyo   35.6762   139.6503    POINT (139.65 35.676)
1   2  San Francisco   37.7749  -122.4194  POINT (-122.419 37.775)
2   3        Jakarta   -6.2088   106.8456   POINT (106.846 -6.209)

### Menulis ke GeoPackage (.gpkg)

In [16]:
# Menulis GeoDataFrame ke file GeoPackage
gdf.to_file("./data example/output_data.gpkg", layer="layer_name_example", driver="GPKG")

### Membaca GeoPackage (.gpkg)

In [18]:
# Membaca file GeoPackage
gdf = gpd.read_file("./data example/output_data.gpkg", layer="layer_name_example")

gdf.head()

   id          place  latitude  longitude                 geometry
0   1          Tokyo   35.6762   139.6503    POINT (139.65 35.676)
1   2  San Francisco   37.7749  -122.4194  POINT (-122.419 37.775)
2   3        Jakarta   -6.2088   106.8456   POINT (106.846 -6.209)

In [21]:
### Menulis KML (Keyhole Markup Language)

In [23]:
# Menulis GeoDataFrame ke file KML
gdf = gdf.set_crs(epsg=3857)
gdf.to_file("./data example/output_data.kml", driver="KML")

### Membaca KML (Keyhole Markup Language)

In [25]:
# Membaca file KML
gdf = gpd.read_file("./data example/output_data.kml", driver='KML')
gdf.head()

  Name    Description                  geometry
0    1  San Francisco   POINT (-0.0011 0.00034)
1    2    Los Angeles  POINT (-0.00106 0.00031)
2    3          Tokyo   POINT (0.00125 0.00032)
3    4        Jakarta  POINT (0.00096 -0.00006)
4    5         Sydney   POINT (0.00136 -0.0003)

### validasi GeoDataFrame

In [19]:
# Memeriksa validitas geometri
gdf.is_valid

0    True
1    True
2    True
dtype: bool

### Membaca CSV dengan Informasi Geospatial

In [20]:
import pandas as pd

# Membaca file CSV
df = pd.read_csv("./data example/data.csv")

# Membuat kolom geometri menggunakan koordinat
geometry = [Point(xy) for xy in zip(df['longitude'], df['latitude'])]

# Mengonversi DataFrame menjadi GeoDataFrame
gdf = gpd.GeoDataFrame(df, geometry=geometry)
gdf.head()

,id,place,latitude,longitude,magnitude,geometry
0,1,San Francisco,37.7749,-122.4194,5.2,POINT (-122.4194 37.7749)
1,2,Los Angeles,34.0522,-118.2437,4.6,POINT (-118.2437 34.0522)
2,3,Tokyo,35.6762,139.6503,6.0,POINT (139.6503 35.6762)
3,4,Jakarta,-6.2088,106.8456,5.8,POINT (106.8456 -6.2088)
4,5,Sydney,-33.8688,151.2093,4.2,POINT (151.2093 -33.8688)